<!-- Chart.js -->
    <script src="<?php echo base_url('assets');  ?>/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
    <script src="<?php echo base_url('assets');  ?>/vendors/bernii/gauge.js/dist/gauge.min.js"></script>
<!-- Flot -->
    <script src="<?php echo base_url('assets');  ?>/vendors/Flot/jquery.flot.js"></script>
    <script src="<?php echo base_url('assets');  ?>/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="<?php echo base_url('assets');  ?>/vendors/Flot/jquery.flot.time.js"></script>
    <script src="<?php echo base_url('assets');  ?>/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="<?php echo base_url('assets');  ?>/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="<?php echo base_url('assets') ?>/js/flot/jquery.flot.orderBars.js"></script>
    <script src="<?php echo base_url('assets') ?>/js/flot/date.js"></script>
    <script src="<?php echo base_url('assets') ?>/js/flot/jquery.flot.spline.js"></script>
    <script src="<?php echo base_url('assets') ?>/js/flot/curvedLines.js"></script>
    <!-- jVectorMap -->
    <script src="<?php echo base_url('assets') ?>/js/maps/jquery-jvectormap-2.0.3.min.js"></script>
<!-- jVectorMap -->
    <script src="<?php echo base_url('assets') ?>/js/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script src="<?php echo base_url('assets') ?>/js/maps/jquery-jvectormap-us-aea-en.js"></script>
    <script src="<?php echo base_url('assets') ?>/js/maps/gdp-data.js"></script>